google-api-core==2.10.2
google-api-python-client==2.65.0
google-auth==2.13.0
google-auth-httplib2==0.1.0
google-cloud-dialogflow==2.16.1
googleapis-common-protos==1.56.4
python-dotenv==0.21.0
python-telegram-bot==20.0a4
vk-api==11.9.9
